[Unit]
Description=Python Telegram Bot
After=network.target

[Service]
User=%i
WorkingDirectory=/home/%i/bot
EnvironmentFile=/home/%i/bot/env_vars

Environment="PATH=/home/%i/bot/venv/bin"
ExecStart=/home/%i/bot/venv/bin/python /home/%i/bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target